.jotxe {
    border: 2px solid var(--jotxe-internal-block-background-color);
    border-radius: var(--jotxe-internal-border-radius);
    color: var(--jotxe-internal-color, inherit);
    display: flex;
    flex-direction: var(--jotxe-internal-flex-direction, column);
  }
  
  .jotxe, .jotxe * {
    box-sizing: border-box;
  }
  
  .jotxe span {
    display: inline-block;
  }
  
  .jotxe,
  .jotxe .jotx-editor {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-shrink: 1;
    min-height: 0;
  }
  
  .jotxe .jotx-editor {
    overflow: auto;
    padding: 0.5rem;
  }
  
  .jotxe .jotxe-container {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }
  
  .jotxe .cm-editor {
    display: flex;
    flex-direction: column;
    position: relative;
  }
  
  .jotxe .cm-scroller {
    align-items: flex-start;
    display: flex;
    font-family: var(--jotxe-internal-font-family);
    font-size: var(--jotxe-internal-editor-font-size);
    line-height: var(--jotxe-internal-editor-line-height);
    overflow-x: auto;
    position: relative;
  }
  
  .jotxe .cm-content {
    display: block;
    flex-grow: 2;
    flex-shrink: 0;
    margin: 0;
    outline: none;
    padding: 0;
    white-space: pre;
    word-wrap: normal;
  }
  
  .jotxe .cm-line {
    font-family: var(--jotxe-internal-font-family);
    padding: 0;
  }
  

  /* extensions specific */

  /* lineWrapping */
  .jotxe .cm-lineWrapping {
    flex-shrink: 1;
    overflow-wrap: anywhere;
    white-space: break-spaces;
    word-break: break-word;
  }
  
  /* blockquote */
  .jotxe .cm-line.cm-blockquote {
    background-color: var(--jotxe-internal-block-background-color);
    border-left: 0.25rem solid currentColor;
    padding: 0 var(--jotxe-internal-block-padding);
  }
  
  .jotxe .cm-line.cm-blockquote.cm-blockquote-open {
    border-top-left-radius: var(--jotxe-internal-border-radius);
    border-top-right-radius: var(--jotxe-internal-border-radius);
    padding-top: var(--jotxe-internal-block-padding);
  }
  
  .jotxe .cm-line.cm-blockquote.cm-blockquote-close {
    border-bottom-left-radius: var(--jotxe-internal-border-radius);
    border-bottom-right-radius: var(--jotxe-internal-border-radius);
    padding-bottom: var(--jotxe-internal-block-padding);
  }
  
  /* code */
  .jotxe .cm-line.cm-codeblock {
    background-color: var(--jotxe-internal-block-background-color);
    font-family: var(--jotxe-internal-code-font-family);
    padding: 0 var(--jotxe-internal-block-padding);
  }
  
  .jotxe .cm-line.cm-codeblock.cm-codeblock-open {
    border-radius: var(--jotxe-internal-border-radius) var(--jotxe-internal-border-radius) 0 0;
    padding-top: var(--jotxe-internal-block-padding);
  }
  
  .jotxe .cm-line.cm-codeblock.cm-codeblock-close {
    border-radius: 0 0 var(--jotxe-internal-border-radius) var(--jotxe-internal-border-radius);
    padding-bottom: var(--jotxe-internal-block-padding);
  }
  
  .jotxe .cm-line .cm-code {
    background-color: var(--jotxe-internal-block-background-color);
    font-family: var(--jotxe-internal-code-font-family);
    padding: var(--jotxe-internal-inline-padding) 0;
  }
  
  .jotxe .cm-line .cm-code.cm-code-open {
    border-radius: var(--jotxe-internal-border-radius) 0 0 var(--jotxe-internal-border-radius);
    padding-left: var(--jotxe-internal-inline-padding);
  }
  
  .jotxe .cm-line .cm-code.cm-code-close {
    border-radius: 0 var(--jotxe-internal-border-radius) var(--jotxe-internal-border-radius) 0;
    padding-right: var(--jotxe-internal-inline-padding);
  }